

*

{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.background
{
  margin-top: 10px;
  background-image: url(img1.jpg);
  height: 350px;
  
}
.background h1
{
  text-align: center;
  padding-top: 120px;
  padding-left: 200px;
  

}

.productdetail h1
{
  background-color: black;
  color: aqua;
  text-align: center;
  width: 50%;
  margin-left: 20%;
  margin-top: 50px;
  border-radius: 20px;
}
.productdetail ul
{
  display: inline-flex;
  width: 100%;
  text-decoration: none;

}

.productdetail li
{
  
  padding-right: 50px;
  padding-top: 20px;
  padding-left: 20px;
  
}
